<div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for future updates and more exciting content</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                        I am a programming student with a passion for web development.
                        I'm Currently studying at Seneca College, my goal is to make a good career with web development.
                        In my free time, I enjoy drawing and sketching. I also like listening to music.
                        </p>
                    </article>
                </section>
            </div>
        </div>
